#img{

    padding: 1px  30%;
 
  display: inline-table;
   width: 100vh;
}
#img1{
    
    border-style: solid ;
    color: blue;
    width: 400px;
    height: 400px;
   
    display: inline-block:
    position: relative;

}
#img2{
    border-style: solid ;
    color: blue;
    width: 400px;
    height: 400px;
    display: inline-block:
    
    
}
h1{
    text-align: center;
    width: 100%;
    background-color: blue;
}
button {
    border-radius: 27px;
    display:inline-block;
    margin-top: 20px;
    top: 1px;
    right: 46%;
    background: red;
     width: 100px;
     height: 30px;
}  
    
button :hover{
    color:white;
}
#video{
   

    height: 400px;
    width: 470px;
  
    display: inline-block:
    
}
p{
    font-family: sans-serif;
    
    width: calc(100%-20%);
    font-size: 25px;
    color: rgb(228, 7, 7);
    text-align: center;
}
#myimage{
    width: 400px;
    height: 400px;
    position: relative;
        

}
