#img{
    margin-left: 1px;
    margin-right: 10px;
    

  
}
#img1{
    
    border-style: solid ;
    color: rgb(59, 109, 88);
    width: 400px;
    height: 400px;
 
}
#img2{
    
    border-style: solid ;
    color: rgb(59, 109, 88);
    width: 400px;
    height: 400px;
   
  
}
h1{
    margin: 0;
 
    text-align: center;
    width: 100%;
    background-color: rgb(11, 154, 236);
}
button {
    border-radius: 27px;
    display:inline-block;
    margin-top: 20px;
    top: 1px;
    right: 46%;
    background: red;
     width: 100px;
     height: 30px;
}  
    
button :hover{
    color:white;
}

#video{
    height: 400px;
    width: 470px;
}
   
p{
    font-family: cursive ;
    
    width: calc(100%-20%);
    font-size: 25px;
    color: rgb(228, 7, 7);
    text-align: center;
}
#myimage{
    width: 400px;
    height: 400px;
    position: relative;

}
.audio{
   width: 300px;
   border: 2px solid red;
   position: relative;
}
#t1{
    border-radius: 27px;
    border: 1px solid darkblue;
    background-color: cornflowerblue;
    color: darkblue;
}
#t2{
    border-radius: 27px;
    border: 1px solid  orangered;
    background-color: rgb(10, 240, 125);
    color: orangered;
}
#t3{
    border-radius: 27px;
    border: 2px solid  rgb(0, 255, 106);
    background-color: rgb(236, 240, 10);
    color: rgb(212, 31, 76);
}
#t{
    border-radius: 27px;
    border: 2px solid  rgb(0, 110, 255);
    background-color: rgb(143, 205, 229);
    color:blue;
    
}
body{
    background-image: linear-gradient(rgba(122, 188, 233, 0.5),rgba(224, 229, 149, 0.5)),url(teddy2.jpg); 
    margin-top: 0; 
    margin-left: 0;
    margin-right: 0;
}
